TZ=Asia/Makassar

JWT_SECRET=change-this-to-a-long-random-secret
PUBLIC_BASE_URL=http://192.168.18.100:8090

WAHA_API_KEY=change-this-to-a-long-random-waha-key
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=change-this-to-a-long-random-dashboard-password
WAHA_SESSION=default

DATABASE_URL=postgres://zolix_user:change-this-db-password@192.168.18.101:5432/zolix_db?sslmode=disable
